@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* Color Theme Swatches in Hex */
/* . {
    color: #042940;
}
.Green-Globe-On-Moss---Environmental-Concept-2-hex {
    color: #005c53;
}
.Green-Globe-On-Moss---Environmental-Concept-3-hex {
    color: #9fc131;
}
.Green-Globe-On-Moss---Environmental-Concept-4-hex {
    color: #dbf227;
}
.Green-Globe-On-Moss---Environmental-Concept-5-hex {
    color: #d6d58e;
} */

.body {
    background-color: #005c53;
}

input:hover,
input:focus {
    outline: none;
}

svg path {
    fill: inherit;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

div {
    box-shadow: none;
}

a,
a.link {
    text-decoration: none;
}

button.btn,
a.btn,
div.btn {
    border-radius: 8px;
    padding: 8px 12px;
    text-transform: none;
    border: 1px solid #9fc131;
}

.btn.btn--main {
    background-color: #9fc131;
    color: #fff;
}

.btn.btn--main:hover,
.btn.btn--main:focus {
    background-color: #80a703;
    border-color: #80a703;
}

.btn.btn--secondary:hover,
.btn.btn--secondary:focus {
    background-color: #9fc131;
    color: #fff;
}

.page-content {
    z-index: 999;
}

.sidebar .sidebar__list {
    width: 100%;
}

.sidebar .sidebar__menu-item + .sidebar__menu-item {
    margin-top: 8px;
}

.sidebar .sidebar__menu-link {
    text-decoration: none;
    width: 100%;
}

.sidebar .sidebar__menu-button {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #637381;
    padding: 8px 12px 8px 16px;
}

.sidebar .sidebar__menu-button:hover,
.sidebar .sidebar__menu-button:focus {
    background-color: rgba(145, 158, 171, 0.08);
}

.sidebar .sidebar__menu-button.sidebar__menu-button--active {
    background-color: #005c53;
    color: #fff;
}

.sidebar .sidebar__menu-button .sidebar__menu-icon {
    margin-right: 16px;
    flex-shrink: 0 0 auto;
}

.sidebar
    .sidebar__menu-button.sidebar__menu-button--active
    .sidebar__menu-icon
    svg {
    fill: #fff;
}

.sidebar .sidebar__menu-button .sidebar__menu-text {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}

.sidebar .MuiListSubheader-root {
    font-family: "Montserrat", sans-serif;
    line-height: normal;
    margin-bottom: 12px;
}

/* MAIN CONTENT */
.main-content {
    z-index: 9999;
    width: calc(100% - 240px);
    margin-left: auto;
}

.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.main-content p {
    font-family: "Montserrat", sans-serif;
}

.main-content .main-content__container {
    margin: 0px;
    padding: 0px 24px 24px 0px;
    width: 100%;
}

.main-content .main-content__container .main-content__item {
    padding: 0px;
    background-color: #005c53;
    border-radius: 10px;
    padding: 18px;
    color: #fff;
    box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px,
        rgb(145 158 171 / 12%) 0px 12px 24px -4px;
}

.main-content
    .main-content__container
    .main-content__item.main-content__item--white {
    box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px,
        rgb(145 158 171 / 12%) 0px 12px 24px -4px;
    background-color: rgb(255, 255, 255);
    color: #000;
}

.main-content table thead th {
    background-color: #005c53;
    color: #fff;
}

.main-content table tr:last-of-type td {
    border-bottom: none;
}

form .form__image-preview {
    border: 1px dashed #005c53;
    border-radius: 8px;
    padding: 12px;
}

form .form__image-preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
